*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

ul,
li {
  text-decoration: none;
}
