@mixin props-top-images {
  background-size: cover;
  background-position: 50%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

@mixin props-spot-images {
  background-size: cover;
  border-radius: $border-radius;
  background-position: 50%;
}

.location-item {
  @include props-top-images;

  &--athene {
    background-image: url("/img/athene.jpg");
  }
  &--bali {
    background-image: url("/img/bali-1.jpg");
  }
  &--barcelona {
    background-image: url("/img/barcelona.jpg");
  }
  &--budapest {
    background-image: url("/img/budapest.jpg");
  }
  &--dublin {
    background-image: url("/img/dublin.jpg");
  }
  &--dubrovnik {
    background-image: url("/img/dubrovnik.jpg");
  }
  &--edinburgh {
    background-image: url("/img/edinburgh.jpg");
  }
  &--garda-italia {
    background-image: url("/img/garda-italia.jpg");
  }
  &--manarola-italia {
    background-image: url("/img/manarola-italie.jpg");
  }
  &--paris {
    background-image: url("/img/paris.jpg");
  }
  &--san-francisco {
    background-image: url("/img/san-francisco.jpg");
  }
  // &--sultanahmet {
  //   background-image: url("/img/sultanahmet-turkey.jpg");
  // }
}

.spotlight-item {
  @include props-spot-images;
  &--schotte {
    background-image: url("/img/aalst-schotte.jpg");
  }

  &--utopia {
    background-image: url("/img/aalst-utopia.jpg");
  }
  &--murphys {
    background-image: url("/img/aalst-murphys.jpg");
  }
  &--aquatopia {
    background-image: url("/img/aalst-aquatopia.jpg");
  }
}
