@mixin props-top-images {
  background-size: cover;
  background-position: 50%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

@mixin props-spot-images {
  background-size: cover;
  border-radius: $border-radius;
  background-position: 50%;
}

#location-item {
  &__athene {
    background-image: url("/img/athene.jpg");
    @include props-top-images;
  }
  &__bali {
    background-image: url("/img/bali-1.jpg");
    @include props-top-images;
  }
  &__barcelona {
    background-image: url("/img/barcelona.jpg");
    @include props-top-images;
  }
  &__budapest {
    background-image: url("/img/budapest.jpg");
    @include props-top-images;
  }
  &__dublin {
    background-image: url("/img/dublin.jpg");
    @include props-top-images;
  }
  &__dubrovnik {
    background-image: url("/img/dubrovnik.jpg");
    @include props-top-images;
  }
  &__edinburgh {
    background-image: url("/img/edinburgh.jpg");
    @include props-top-images;
  }
  &__garda-italia {
    background-image: url("/img/garda-italia.jpg");
    @include props-top-images;
  }
  &__manarola-italia {
    background-image: url("/img/manarola-italie.jpg");
    @include props-top-images;
  }
  &__paris {
    background-image: url("/img/paris.jpg");
    @include props-top-images;
  }
  &__san-francisco {
    background-image: url("/img/san-francisco.jpg");
    @include props-top-images;
  }
  &__sultanahmet {
    background-image: url("/img/sultanahmet-turkey.jpg");
    @include props-top-images;
  }
}

.schotte {
  background-image: url("/img/aalst-schotte.jpg");
  @include props-spot-images;
}

.utopia {
  background-image: url("/img/aalst-utopia.jpg");
  @include props-spot-images;
}
.murphys {
  background-image: url("/img/aalst-murphys.jpg");
  @include props-spot-images;
}
.aquatopia {
  background-image: url("/img/aalst-aquatopia.jpg");
  @include props-spot-images;
}
