@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap&text=DigitravelsReizenvoornerdlanders");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1e0e3b;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

ul,
li {
  text-decoration: none;
}

.location-item {
  background-size: cover;
  background-position: 50%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.location-item--athene {
  background-image: url("/img/athene.jpg");
}

.location-item--bali {
  background-image: url("/img/bali-1.jpg");
}

.location-item--barcelona {
  background-image: url("/img/barcelona.jpg");
}

.location-item--budapest {
  background-image: url("/img/budapest.jpg");
}

.location-item--dublin {
  background-image: url("/img/dublin.jpg");
}

.location-item--dubrovnik {
  background-image: url("/img/dubrovnik.jpg");
}

.location-item--edinburgh {
  background-image: url("/img/edinburgh.jpg");
}

.location-item--garda-italia {
  background-image: url("/img/garda-italia.jpg");
}

.location-item--manarola-italia {
  background-image: url("/img/manarola-italie.jpg");
}

.location-item--paris {
  background-image: url("/img/paris.jpg");
}

.location-item--san-francisco {
  background-image: url("/img/san-francisco.jpg");
}

.spotlight-item {
  background-size: cover;
  border-radius: 15px;
  background-position: 50%;
}

.spotlight-item--schotte {
  background-image: url("/img/aalst-schotte.jpg");
}

.spotlight-item--utopia {
  background-image: url("/img/aalst-utopia.jpg");
}

.spotlight-item--murphys {
  background-image: url("/img/aalst-murphys.jpg");
}

.spotlight-item--aquatopia {
  background-image: url("/img/aalst-aquatopia.jpg");
}

.header {
  height: 70px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container, .header__list, .header__wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .header {
    padding-left: 6em;
    padding-right: 6em;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  display: flex;
}

.header__logo {
  font-weight: 700;
  font-size: 2em;
  color: #1e0e3b;
}

.header__button {
  font-size: 1.5em;
}

@media (min-width: 800px) {
  .header__button {
    display: none;
  }
}

.main-nav__link {
  font-weight: 700;
  color: #1e0e3b;
  padding: 1em;
}

.main-nav__link:not(:last-child) {
  padding-right: 0.5em;
}

@media (max-width: 800px) {
  .main-nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    top: 50px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.98);
  }
  .main-nav__link:not(:last-child) {
    border-bottom: 1px solid #f9f2ec;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 191, 0, 0.8)), color-stop(rgba(218, 113, 0, 0.8)), to(rgba(240, 0, 48, 0.8))), url("/img/hero.jpg");
  background-image: linear-gradient(rgba(255, 191, 0, 0.8), rgba(218, 113, 0, 0.8), rgba(240, 0, 48, 0.8)), url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 85vh;
}

.hero__container, .hero__list, .hero__wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 6em 4em;
  font-family: "Carter One", Helvetica, sans-serif;
}

.hero__illustration {
  max-width: 100%;
  min-width: 200px;
}

@media (min-width: 600px) {
  .hero__illustration {
    min-width: 400px;
  }
}

.hero__title {
  font-size: 3em;
  padding-top: 0.5em;
}

.hero__description {
  font-size: 1.5em;
  padding: 0.5em 0;
  line-height: 1.4;
  text-align: center;
}

.hero__title, .hero__description {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
  .hero__title {
    font-size: 5em;
  }
  .hero__description {
    font-size: 2em;
  }
}

.last-spots,
.top-locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em;
}

.last-spots__container, .last-spots__list, .last-spots__wrapper,
.top-locations__container,
.top-locations__list,
.top-locations__wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.last-spots__list,
.top-locations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}

@media (min-width: 1100px) {
  .last-spots__list,
  .top-locations__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.last-spots {
  background-color: #f9f2ec;
}

.last-spots__title,
.top-locations__title,
.spotlight__title {
  font-size: 2em;
  font-weight: 700;
}

.spot-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 1em;
}

.spot-card-container__visual {
  border-radius: 15px 15px 0 0;
  min-width: 260px;
  max-width: 600px;
  width: 100%;
}

.spot-card-container__name {
  padding: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
}

.top-locations {
  margin: 1em;
}

@media (min-width: 1100px) {
  .top-locations__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.location-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 450px;
  min-width: 300px;
  max-width: 600px;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 1em;
}

.location-item__name {
  background-color: white;
  padding: 1.5em 1em;
  font-weight: 700;
  border-radius: 0 0 15px 15px;
  letter-spacing: 0.25em;
}

.location-item--discover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 191, 0, 0.8)), color-stop(rgba(218, 113, 0, 0.8)), to(rgba(240, 0, 48, 0.8)));
  background: linear-gradient(rgba(255, 191, 0, 0.8), rgba(218, 113, 0, 0.8), rgba(240, 0, 48, 0.8));
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.location-item--discover__more {
  font-size: 3em;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.location-item--discover__icon {
  font-size: 6em;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 1100px) {
  .location-item {
    max-width: 400px;
    height: 650px;
  }
}

.spotlight {
  background-color: #f9f2ec;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spotlight__container, .spotlight__list, .spotlight__wrapper {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.spotlight__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 400px;
  grid-column-gap: 0.75em;
  grid-row-gap: 1em;
  margin: 1em;
  border-radius: 15px;
}

@media (min-width: 800px) {
  .spotlight__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.spotlight-item {
  background-size: cover;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
}

.spotlight-item__inner {
  text-align: center;
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
  border-radius: 0 15px 0px 15px;
  width: calc(50% - 1em);
  margin: 1em;
}

.spotlight-item__inner--link {
  text-decoration: none;
  color: #1e0e3b;
}

.spotlight-item__title {
  font-weight: 700;
}

.spotlight-item__description {
  padding-top: 0.25em;
  line-height: 1.2;
}

.footer {
  background-color: #1e0e3b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.footer__creator {
  font-weight: 700;
}

.footer p {
  padding: 1em;
}

.footer p:not(:last-child) {
  border-bottom: 1px dashed white;
}

@media (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer p {
    padding: 1em;
  }
  .footer p:not(:last-child) {
    border-style: none;
    border-right: 1px solid white;
  }
}
/*# sourceMappingURL=main.css.map */