@import "_variables";
@import "_globals";
@import "_images";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap&text=DigitravelsReizenvoornerdlanders"); //Font voor titel

.header {
  height: 70px;
  position: fixed;
  background-color: $color-white;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  @include preserve-width;
  @include flex-between;
  @media (min-width: 1200px) {
    padding-left: 6em;
    padding-right: 6em;
  }

  &__container {
    @include flex-between;
    position: relative;
    width: 100%;
    display: flex;
  }

  &__logo {
    font-weight: 700;
    font-size: 2em;
    color: $color-purple;
  }

  &__button {
    font-size: 1.5em;
    @media (min-width: 800px) {
      display: none;
    }
  }
}

.main-nav {
  &__link {
    font-weight: 700;
    color: $color-purple;
    padding: 1em;

    &:not(:last-child) {
      padding-right: 0.5em;
    }
  }

  @media (max-width: 800px) {
    position: absolute;
    @include flex-col;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    box-shadow: $box-shadow;
    top: 50px;
    right: 0;
    background-color: $color-white;

    &__link {
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-ish;
      }
    }
  }
}

.hero {
  background-image: $hero-gradient, url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 85vh;
  @include preserve-width;

  &__container {
    @include flex-col;
    align-items: center;
    color: white;
    padding: 6em 4em;
    font-family: "Carter One", Helvetica, sans-serif;
  }

  &__illustration {
    max-width: 100%;
    min-width: 200px;
    @media (min-width: 600px) {
      min-width: 400px;
    }
  }

  &__title {
    font-size: 3em;
    padding-top: 0.5em;
  }

  &__description {
    font-size: 1.5em;
    padding: 0.5em 0;
    line-height: 1.4;
    text-align: center;
  }

  &__title,
  &__description {
    text-shadow: $text-shadow;
  }

  @media (min-width: 600px) {
    &__title {
      font-size: 5em;
    }
    &__description {
      font-size: 2em;
    }
  }
}

.last-spots,
.top-locations {
  @include preserve-width;
  @include flex-col;
  align-items: center;
  padding-top: 3em;

  &__list {
    @include flex-col;
    align-items: center;
    margin-bottom: 4em;
    @media (min-width: 1100px) {
      @include flex-row;
    }
  }
}

.last-spots {
  background-color: $color-grey-ish;
}

.last-spots,
.top-locations,
.spotlight {
  @include title;
}

.spot-card-container {
  @include flex-col;
  background-color: white;
  border-radius: 15px;
  box-shadow: $box-shadow;
  margin: 1em;

  &__visual {
    border-radius: 15px 15px 0 0;
    min-width: 260px;
    max-width: 600px;
    width: 100%;
  }
  &__name {
    padding: 1em;
    font-weight: 700;
    letter-spacing: 0.25em;
  }
}

.top-locations {
  margin: 1em;
  &__list {
    @media (min-width: 1100px) {
      flex-wrap: wrap;
    }
  }
}

.location-item {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 15px;
  box-shadow: $box-shadow;
  width: 100%;
  height: 450px;
  min-width: 300px;
  max-width: 600px;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 1em;

  &__name {
    background-color: white;
    padding: 1.5em 1em;
    font-weight: 700;
    border-radius: 0 0 15px 15px;
    letter-spacing: 0.25em;
  }

  &--discover {
    background: $hero-gradient;
    border-radius: 15px;
    @include flex-between;
    flex-direction: column;
    padding: 2em;
    &__more {
      font-size: 3em;
      font-weight: 700;
      align-self: flex-start;
    }
    &__icon {
      font-size: 6em;
      color: white;
      align-self: flex-end;
    }
  }

  @media (min-width: 1100px) {
    max-width: 400px;
    height: 650px;
  }
}

.spotlight {
  background-color: $color-grey-ish;
  padding: 2em;
  @include flex-col;
  align-items: center;
  @include preserve-width;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 400px;
    grid-column-gap: 0.75em;
    grid-row-gap: 1em;
    margin: 1em;
    border-radius: $border-radius;

    @media (min-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.spotlight-item {
  background-size: cover;
  border-radius: $border-radius;
  box-shadow: $box-shadow-spot;
  @include flex-col;
  flex-direction: column-reverse;

  &__inner {
    text-align: center;
    background: white;
    box-shadow: $box-shadow-spot;
    padding: 1em;
    border-radius: 0 15px 0px 15px;
    width: calc(50% - 1em);
    margin: 1em;
    &--link {
      text-decoration: none;
      color: $color-purple;
    }
  }
  &__title {
    font-weight: 700;
  }
  &__description {
    padding-top: 0.25em;
    line-height: 1.2;
  }
}

.footer {
  background-color: $color-purple;
  color: white;
  @include flex-col;
  align-items: center;
  padding: 2em;

  &__creator {
    font-weight: 700;
  }

  p {
    padding: 1em;
    &:not(:last-child) {
      border-bottom: 1px dashed white;
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      padding: 1em;
      &:not(:last-child) {
        border-style: none;
        border-right: 1px solid white;
      }
    }
  }
}
