@import "_variables";
@import "_globals";
@import "_images";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap&text=DigitravelsReizenvoornerdlanders"); //Font voor titel

.header {
  height: 70px;
  position: fixed;
  background-color: $color-white;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;

  @media (min-width: 1200px) {
    padding-left: 6em;
    padding-right: 6em;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-weight: 700;
    font-size: 2em;
    color: $color-purple;
  }
  &__button {
    font-size: 1.5em;
    @media (min-width: 800px) {
      display: none;
    }
  }
}

.main-nav {
  @media (max-width: 800px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $color-white;
  }

  &__link {
    font-weight: 700;
    color: $color-purple;

    &:not(:last-child) {
      padding-right: 0.5em;
    }
  }
}

.hero {
  background-image: $hero-gradient, url("/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 85vh;
}

.hero-container {
  @include flex-col;
  align-items: center;

  color: white;
  padding: 6em 4em;

  font-family: Carter One;

  &__illustration {
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-size: 3em;
    padding-top: 0.5em;
  }
  &__description {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.4;
    text-align: center;
  }
  &__title,
  &__description {
    text-shadow: $text-shadow;
  }
}

@media (min-width: 600px) {
  .hero-container {
    &__title {
      font-size: 5em;
    }
    &__description {
      font-size: 2em;
    }
  }
}

.last-spots-list {
  @include flex-col;
  @media (min-width: 1100px) {
    @include flex-row;
  }
}

.top-locations-list {
  @include flex-col;
  @media (min-width: 1100px) {
    @include flex-row;
    flex-wrap: wrap;
  }
}

.last-spots {
  background-color: $color-grey-ish;
  @include flex-col;
  align-items: center;
  padding-top: 3em;
}

.last-spots,
.top-locations,
.spotlight {
  &__title {
    font-size: 2em;
    font-weight: 700;
  }
}

.spot-card-container {
  @include flex-col;
  background-color: white;
  border-radius: 15px;
  box-shadow: $box-shadow;
  margin: 1em;

  &__visual {
    border-radius: 15px 15px 0 0;
    min-width: 260px;
    max-width: 600px;
    width: 100%;
  }
  &__name {
    padding: 1em;
    font-weight: 700;
  }
}

.top-locations {
  @include flex-col;
  align-items: center;
  padding-top: 3em;
  margin: 1em;
}

.location-item-container {
  @include flex-col;
  border-radius: 15px;
  box-shadow: $box-shadow;
  width: 100%;
  height: 450px;
  min-width: 300px;
  max-width: 600px;
  margin: 1em;

  &__name {
    background-color: white;
    padding: 1.5em 1em;
    font-weight: 700;
    border-radius: $border-radius;
  }

  @media (min-width: 1100px) {
    width: 400px;
    height: 650px;
  }
}

#location-item__more {
  background: $hero-gradient;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  h4 {
    font-size: 3em;
    font-weight: 700;
  }
  i {
    font-size: 6em;
    color: white;
    align-self: flex-end;
  }
}

.spotlight {
  text-align: center;
  background-color: $color-grey-ish;
  padding-top: 2em;
  padding-bottom: 2em;
}

.spotlight-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  grid-auto-columns: minmax(320px, auto);
  grid-column-gap: 0.75em;
  grid-row-gap: 1em;
  margin: 1em;
  border-radius: $border-radius;

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.spotlight-item {
  background-size: cover;
  border-radius: $border-radius;
  box-shadow: $box-shadow-spot;
  @include flex-col;
  flex-direction: column-reverse;

  &__inner {
    background: white;
    box-shadow: $box-shadow-spot;
    padding: 1em;
    border-radius: 0 15px 0px 15px;
    width: 50%;
    margin: 1em;
    a {
      text-decoration: none;
      color: $color-purple;
    }
  }
  &__title {
    font-weight: 700;
  }
  &__description {
    padding-top: 0.25em;
    line-height: 1.2;
  }
}

.footer {
  background-color: $color-purple;
  color: white;
  @include flex-col;
  align-items: center;
  padding: 2em;

  &__creator {
    font-weight: 700;
  }

  p {
    padding: 1em;
    &:not(:last-child) {
      border-bottom: 1px dashed white;
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      padding: 1em;
      &:not(:last-child) {
        border-style: none;
        border-right: 1px solid white;
      }
    }
  }
}
